Proiect_BD/.vs/config/applicationhost.config
Proiect_BD/.vs/Proiect_BD/v14/.suo
Proiect_BD/BussinessLayer/bin/Debug/DataLayer.dll
Proiect_BD/BussinessLayer/obj/Debug/BussinessLayer.csprojResolveAssemblyReference.cache
Proiect_BD/BussinessLayer/obj/Debug/BussinessLayer.pdb
Proiect_BD/DataLayer/bin/Debug/DataLayer.dll
Proiect_BD/DataLayer/obj/Debug/DataLayer.csproj.FileListAbsolute.txt
Proiect_BD/Proiect_BD/Administratori.aspx.designer.cs
Proiect_BD/.vs/config/applicationhost.config
Proiect_BD/.vs/Proiect_BD/v14/.suo
Proiect_BD/BussinessLayer/bin/Debug/DataLayer.dll
Proiect_BD/BussinessLayer/bin/Debug/BussinessLayer.dll.config
Proiect_BD/BussinessLayer/obj/Debug/BussinessLayer.csproj.FileListAbsolute.txt
Proiect_BD/BussinessLayer/obj/Debug/BussinessLayer.pdb
Proiect_BD/DataLayer/bin/Debug/DataLayer.dll.config
Proiect_BD/DataLayer/obj/Debug/DataLayer.csproj.FileListAbsolute.txt
Proiect_BD/DataLayer/obj/Debug/DataLayer.pdb
Proiect_BD/Proiect_BD/Administratori.aspx.cs
Proiect_BD/Proiect_BD/bin/DataLayer.dll
Proiect_BD/Proiect_BD/bin/DataLayer.pdb
Proiect_BD/Proiect_BD/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Proiect_BD/Proiect_BD/obj/Debug/Proiect_BD.pdb
Proiect_BD/Proiect_BD/obj/Debug/PresentationLayer.csprojResolveAssemblyReference.cache
Proiect_BD/Proiect_BD/bin/Proiect_BD.dll
Proiect_BD/Proiect_BD/bin/BussinessLayer.pdb
Proiect_BD/Proiect_BD/Web.config
Proiect_BD/Proiect_BD/obj/Debug/Proiect_BD.pdb
Proiect_BD/Proiect_BD/obj/Debug/PresentationLayer.csproj.FileListAbsolute.txt
Proiect_BD/Proiect_BD/bin/Proiect_BD.dll
Proiect_BD/Proiect_BD/Web.config
Proiect_BD/.vs/config/applicationhost.config
Proiect_BD/BussinessLayer/bin/Debug/BussinessLayer.pdb
Proiect_BD/BussinessLayer/obj/Debug/BussinessLayer.csprojResolveAssemblyReference.cache
Proiect_BD/BussinessLayer/obj/Debug/BussinessLayer.pdb
Proiect_BD/DataLayer/bin/Debug/DataLayer.dll.config
Proiect_BD/DataLayer/obj/Debug/DataLayer.csproj.FileListAbsolute.txt
Proiect_BD/Proiect_BD/Web.config
Proiect_BD/Proiect_BD/Web.config