Proiect_BD/Proiect_BD/Administratori.aspx.cs
Proiect_BD/DataLayer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Proiect_BD/.vs/config/applicationhost.config
*.suo
*.config
*.config
Proiect_BD/Proiect_BD/obj/Debug/Proiect_BD.pdb
*.pdb
Proiect_BD/Proiect_BD/obj/Debug/Proiect_BD.dll
*.cache
Proiect_BD/Proiect_BD/bin/Proiect_BD.pdb
*.pdb
Proiect_BD/Proiect_BD/bin/DataLayer.dll
*.dll
Proiect_BD/Proiect_BD/Administratori.aspx.designer.cs
*.pdb
Proiect_BD/DataLayer/obj/Debug/DataLayer.csprojResolveAssemblyReference.cache
*.txt
Proiect_BD/DataLayer/bin/Debug/DataLayer.pdb
*.dll
Proiect_BD/DataLayer/App.config
*.dll
Proiect_BD/BussinessLayer/obj/Debug/BussinessLayer.csprojResolveAssemblyReference.cache
*.pdb
Proiect_BD/BussinessLayer/bin/Debug/BussinessLayer.pdb
*.config
Proiect_BD/BussinessLayer/bin/Debug/BussinessLayer.dll
*.suo
Proiect_BD/.vs/config/applicationhost.config